#content {
    margin: 50px;
}

/* 터미널창 */
.terminal {
    width: 160px;
    margin: 10px;
    padding: 10px;
    padding-left: 50px;
    background-color: #000;
    border: 3px solid green;
}

.terminal p {
    color: #fff;
    font-family: 'consolas';
    white-space: nowrap;
}

.terminal2 {
    width: 60px;
    margin: 10px;
    padding: 10px;
    padding-left: 50px;
    background-color: #000;
    border: 3px solid green;
}

.terminal2 p {
    color: #fff;
    font-family: 'consolas';
    white-space: nowrap;
}