/* 명령어 리스트 - 선택된 명령어 블록 색상 변경 */
#command-list li:nth-child(11) {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* 명령어 터미널 */
#command .command-terminal {
    width: 70px;
}

/* 문법 터미널 */
#grammar .grammar-terminal {
    width: 210px;
}


/* 예시 */
#command-example {
    margin-top: 10px;
}

#command-example img {
    width: 500px;
}