#command-list ul li:nth-child(3) {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* 본문 */
#content {
    float: left;
    margin: 50px;
}

/* 본문 */
#content_top {
    margin-bottom: 50px;
    font-family: 'consolas';
}

/* 터미널창 */
#content_top .terminal {
    width: 45px;
    margin: 10px;
    padding: 10px;
    padding-left: 50px;
    background-color: #000;
    border: 3px solid green;
}

#content_top .terminal p {
    color: #fff;
    font-family: 'consolas';
    white-space: nowrap;
}

/* 문법 */
#content_middle {
    margin-bottom: 50px;
}

#content_middle .grammar {
    width: 140px;
    margin: 10px;
    padding: 10px;
    padding-left: 50px;
    background-color: #000;
    border: 3px solid green;
}

#content_middle .grammar p {
    color: #fff;
    font-family: 'consolas';
    white-space: nowrap;
}

#content_bottom {
    margin-bottom: 50px;
}

#content_bottom img {
    width: 500px;
}

/* cd ~ */
#content_bottom .terminal {
    width: 45px;
    margin: 10px;
    padding: 10px;
    padding-left: 50px;
    background-color: #000;
    border: 3px solid green;
}

#content_bottom .terminal p {
    color: #fff;
    font-family: 'consolas';
    white-space: nowrap;
}