/* 명령어 리스트 - 선택된 명령어 블록 색상 변경 */
#command-list li:nth-child(5) {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* 문법 터미널 */
#grammar .grammar-terminal {
    width: 480px;
}

/* 목적지 표현 방법 */
#destination-method {
    margin-bottom: 30px;
}

#destination-method h2 {
    margin-bottom: 10px;
}   

#destination-method .destination-method-section {
    display: flex;
}

#destination-method .destination-method-section .destination-method1 {
    margin-right: 30px;
}

/* 원본 이름 생략해서 복사 붙여넣기 터미널 */
.destination-method1 .destination-method1-terminal {
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    padding-left: 30px;
    background-color: #000;
    border: 3px solid green;
}

.destination-method1 .destination-method1-terminal p {
    color: #fff;
    font-family: 'consolas';
    white-space: nowrap;
}

.destination-method1 img {
    margin-top: 10px;
    width: 450px;
}

/* 원본 이름을 변경해서 복사 붙여넣기 터미널 */
.destination-method2 .destination-method2-terminal {
    margin-top: 10px;
    padding: 10px;
    width: 450px;
    padding-left: 30px;
    background-color: #000;
    border: 3px solid green;
}

.destination-method2 .destination-method2-terminal p {
    color: #fff;
    font-family: 'consolas';
    white-space: nowrap;
}

.destination-method2 img {
    margin-top: 10px;
    width: 500px;
}

/* 중복된 명일 경우의 수 */
#duplication img {
    width: 500px;
}

/* 옵션 */
#option {
    margin-top: 50px;
}

#option .option-terminal {
    margin-top: 10px;
    padding: 10px;
    width: 50px;
    padding-left: 30px;
    background-color: #000;
    border: 3px solid green;
}

#option .option-terminal p {
    color: #fff;
    font-family: 'consolas';
    white-space: nowrap;
}

#option .option-example {
    margin-top: 30px;
}

#option .option-example .option-example-thumb1 {
    margin-bottom: 10px;
}

#option .option-example .option-example-thumb1 img {
    width: 450px;
}

#option .option-example .option-example-thumb2 img {
    width: 500px;
}