/* 명령어 터미널 */
#content .terminal {
    margin-top: 10px;
    padding: 10px;
    width: 60px;
    padding-left: 30px;
    background-color: #000;
    border: 3px solid green;
}

#content .terminal p {
    color: #fff;
    font-family: 'consolas';
    white-space: nowrap;
}

/* 명령어 이미지 */
#content .command-example-thumb img {
    margin-top: 10px;
    width: 700px;
}

/* 표 */
table {
    margin-top: 50px;
    border-collapse: collapse;
}

thead th, tbody th {
    text-align: center;
    font-size: 18px;
    border: 1px solid #aaa;
    background-color: #f8f8f8;
}

th, td {
    padding: 10px 15px;
    font-family: 'consolas';
    border: 1px solid #aaa;
}