/* 네비바 아래 내용 */
#content {
    margin: 50px;
}

/* 페이지 제목 */
.title h1 {
    font-family: 'consolas';
}

/* 터미널창 */
.terminal {
    width: 50px;
    margin: 10px;
    padding: 10px;
    padding-left: 50px;
    background-color: #000;
    border: 3px solid green;
}

.terminal p {
    color: #fff;
    font-size: 15px;
    font-family: 'consolas';
    white-space: nowrap;
}

/* 명령어 이미지 */
.ls {
    margin-top: 10px;
    margin-left: 50px;
    width: 700px;
}

/* 표 */
table {
    margin: 50px;
    border-collapse: collapse;
}

thead th, tbody th {
    text-align: center;
    font-size: 20px;
    border: 1px solid #aaa;
    background-color: #f8f8f8;
}

th, td {
    padding: 10px 15px;
    font-size: 15px;
    font-family: 'consolas';
    border: 1px solid #aaa;
}