/* 명령어 리스트 - 선택된 명령어 블록 색상 변경 */
#command-list li:nth-child(15) {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* 명령어 터미널 */
#command .command-terminal {
    width: 80px;
}

/* 문법 터미널 */
#grammar .grammar-terminal {
    width: 280px;
}

/* 문법 예제 이미지 */
#grammar-example .grammar-example-thumb1 {
    margin-bottom: 10px;
}

#grammar-example .grammar-example-thumb1 img {
    width: 800px;
}

#grammar-example .grammar-example-thumb2 img {
    width: 400px;
}