/* 명령어 리스트 - 선택된 명령어 블록 색상 변경 */
#command-list li:nth-child(9) {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* 명령어 터미널 */
#command .command-terminal {
    width: 80px;
}

/* 문법 터미널 */
#grammar .grammar-terminal {
    width: 150px;
}

#grammar .grammar-example-thumb img {
    margin-top: 30px;
    width: 700px;
}