/* 명령어 리스트 - 선택된 명령어 블록 색상 변경 */
#command-list li:nth-child(6) {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* 문법 터미널 */
#grammar .grammar-terminal {
    width: 480px;
}

/* 예제 */
#example {
    margin-bottom: 30px;
}

#example img {
    width: 500px;
}

/* 디렉터리 옮기기 & 이름 변경 섹션 */
#command-apply {
    display: flex;
}

/* 디렉터리 옮기기 터미널 */
#command-apply .directory-change .directory-change-terminal {
    margin-top: 10px;
    padding: 10px;
    width: 330px;
    padding-left: 30px;
    background-color: #000;
    border: 3px solid green;
}

#command-apply .directory-change .directory-change-terminal p {
    color: #fff;
    font-family: 'consolas';
    white-space: nowrap;
}


/* 디렉터리 옮기기 이미지 */
#command-apply .directory-change .directory-change-thumb img {
    margin-top: 10px;
    width: 600px;
}

/* 이름 변경 터미널 */
#command-apply .name-change {
    margin-left: 30px;
}

#command-apply .name-change .name-change-terminal {
    margin-top: 10px;
    padding: 10px;
    width: 290px;
    padding-left: 30px;
    background-color: #000;
    border: 3px solid green;
}

#command-apply .name-change .name-change-terminal p {
    color: #fff;
    font-family: 'consolas';
    white-space: nowrap;
}

/* 이름 변경 이미지 */
#command-apply .name-change .name-change-thumb img {
    margin-top: 10px;
    width: 500px;
}