#operator_list li:nth-child(4) {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* 본문 */
#content {
    float: left;
    margin: 50px;
}

/* 연산자 설명 */
#operator {
    margin-bottom: 50px;
    font-family: 'consolas';
}

/* 터미널창 */
#operator .operator_terminal {
    width: 40px;
    margin: 10px;
    padding: 10px;
    padding-left: 50px;
    background-color: #000;
    border: 3px solid green;
}

#operator .operator_terminal p {
    color: #fff;
    font-family: 'consolas';
    white-space: nowrap;
}