#operator-list li:nth-child(4) {
    font-weight: bold;
    background-color: #f0f0f0;
}

#operator-example {
    margin-bottom: 50px;
    display: flex;
}

#operator-example img {
    margin-right: 20px;
    width: 150px;
}

/* 응용 */
#apply h2 {
    margin-bottom: 10px;
}

#apply .apply-example-section1 {
    margin-bottom: 50px;
}

#apply .apply-example-section1 .apply-example-thumb1 img {
    width: 350px;
}

#apply .apply-example-section1 .apply-example-thumb2 img {
    width: 800px;
}

#apply h3 {
    margin-bottom: 10px;
}

#apply .apply-example-section2 .apply-example-thumb1 {
    margin-bottom: 10px;
}

#apply .apply-example-section2 .apply-example-thumb1 img {
    width: 600px;
}

#apply .apply-example-section2 .apply-example-thumb2 {
    margin-bottom: 10px;
}

#apply .apply-example-section2 .apply-example-thumb2 img {
    width: 900px;
}

#apply .apply-example-section2 .apply-example-thumb3 img {
    width: 900px;
}