/* 연산자 리스트 - 선택된 연산자 블록 색상 변경 */
#operator-list li:nth-child(2) {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* 연산자 예시 */
#operator-example {
    margin-bottom: 50px;
}

/* 예시 터미널 */
#operator-example .operator-example-terminal {
    margin-top: 10px;
    padding: 10px;
    width: 70px;
    padding-left: 30px;
    background-color: #000;
    border: 3px solid green;
}

#operator-example .operator-example-terminal p {
    color: #fff;
    font-family: 'consolas';
    white-space: nowrap;
}

/* 주의사항 */
#caution .caution-text {
    margin: 10px 0 10px;
    color: red;
}

#caution .caution-section {
    display: flex;
}

#caution .caution-section .caution-example1 {
    margin-right: 30px;
}

#caution .caution-section .caution-example1 img {
    width: 700px;
}

#caution .caution-section .caution-example2 {
    margin-right: 30px;
}

#caution .caution-section .caution-example2 img {
    width: 700px;
}

/* 예시 */
#example {
    display: flex;
}

#example .example-thumb1 {
    margin-right: 30px;
}

#example .example-thumb1 img {
    width: 700px;
}

#example .example-thumb2 img {
    width: 700px;
}