#operator-list li:nth-child(3) {
    font-weight: bold;
    background-color: #f0f0f0;
}

#example1 {
    margin-bottom: 30px;
}

#example1 img {
    width: 600px;
}

#example2 .example2-thumb {
    margin-bottom: 30px;
}

#example2 .example2-section1 {
    margin-bottom: 30px;
}

#example2 .example2-section1 img {
    width: 550px;
}

#example2 .example2-section2 {
    display: flex;
}

#example2 .example2-section2 .example2-section2-thumb1 {
    margin-right: 30px;
}

#example2 .example2-section2 .example2-section2-thumb1 img {
    width: 500px;
}

#example2 .example2-section2 .example2-section2-thumb2 img {
    width: 550px;
}