#command-list li:nth-child(8) {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* 문법 터미널 */
#grammar .grammar-terminal {
    width: 270px;
}

#example {
    margin-bottom: 30px;
}

#example img {
    width: 400px;
}

/* 옵션 */
#option .option-terminal {
    margin-top: 10px;
    padding: 10px;
    width: 50px;
    padding-left: 30px;
    background-color: #000;
    border: 3px solid green;
}

#option .option-terminal p {
    color: #fff;
    font-family: 'consolas';
    white-space: nowrap;
}