#command-list li:nth-child(13) {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* 명령어 터미널 */
#command .command-terminal {
    width: 80px;
}

/* 문법 터미널 */
#grammar .grammar-terminal {
    width: 300px;
}

#grammar img {
    margin-top: 30px;
    width: 900px;
}