#command-list li:nth-child(10) {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* 명령어 터미널 */
#command .command-terminal {
    width: 90px;
}

/* 문법 터미널 */
#grammar .grammar-terminal {
    width: 200px;
}

/* 예시 */
#example1 {
    margin-bottom: 30px;
}

#example1 img {
    width: 500px;
}

/* 파일 & 디렉터리 예시 */
#example2 {
    display: flex;
}

#example2 .file img {
    width: 500px;
}

#example2 .directory {
    margin-left: 30px;
}

#example2 .directory img {
    width: 500px;
}